:root {
    --bg-color: #4c566a;
    --fg-color: #e5e9f0;
    --fg-pop: #88c0d0;
    --pop-color: #d08770;
    --font: 'Roboto Mono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size: 16px;
}

body {
    font-family: var(--font);
    font-size: var(--font-size);
    color: var(--fg-color);
    background-color: var(--bg-color);
    margin-bottom: 4rem;
    padding: .5rem;
}

h1, h2, h3 {
    color: var(--fg-pop);
}

header, main, footer {
    margin: 0 auto;
    max-width: 50rem;
    width: 100%;
}

header {
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--fg-color);
}

header img {
    display: block;
    margin: auto;

    max-width: 30%;

    border-radius: 50%;
    background-color: var(--fg-color);
    padding: 5px;
}

header img:hover {
    background-color: var(--pop-color);
}

header h1 {
    text-align: center;
}

main {
    margin-top: 3rem;
    padding-bottom: 2rem;
}

a {
    color: var(--pop-color);
}

footer {
    border-top: 2px solid var(--fg-color);
}

footer p {
    text-align: right;
}

foot span.bigflex {
    font-family: 'Roboto Mono', monospace;
}

.RIP {
    color: var(--fg-pop);
}