:root {
    --bg-color: #fff;
    --fg-color: #000;
}
.pfp-image img {
    display: block;
    margin: auto;

    width: 20%;
    max-width: 400px;

    border-radius: 50%;
    background-color: var(--fg-color);
    padding: 6px;
}

.RIP {
    color: gray;
}